.firstclass{
    background-color: pink; 
    font-family: monospace;
    font-size: 5em
} 

.secondclass{
    background-color:paleturquoise; 
    font-family: Courier New, Courier, monospace; 
    font-size: 2em
}

body {
    background-image:url(http://www.allwhitebackground.com/images/2/2283.jpg) 
} 

.circle {
    width: 1500x;
    border-radius: 500px; 
}

.big {
    position: absolute;
    width: 500px;
    height: 500px;
}

.size-128 {
    border: 1px rebeccapurple; 
    position: relative;
    top: 100px;
    left: 50px;
    width: 128px; 
}

.menuitem {
    display: inline;
    font-size: 3em;
    background-color: pink;
}

.font-cardo{
    background-color: pink; 
    font-family: cardo; 
    font-size: 5em
}

.font-lobstertwo{
    font-family: lobstertwo; 
    font-size: 4em    
}

.font-lobstertwosmaller{
    font-family: lobstertwo; 
    font-size: 3em    
}